@{
    ViewData["Title"] = "Edit";
}

<form action="/Page/Result" method="post">
    <div>
        <label for="input1">Введите сообщение:</label><br />
        <input type="input1" id="message" name="message" />
    </div>
    <button type="submit">Отправить</button>
</form>